   html, body, div, span, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  abbr, address, cite, code,
  del, dfn, em, img, ins, kbd, q, samp,
  small, strong, sub, sup, var,
  b, i,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section, summary,
  time, mark, audio, video {
      margin:0;
      padding:0;
      border:0;
      outline:0;
      font-size:100%;
      vertical-align:baseline;
      background:transparent;
  }

  body {
      line-height:1;
  }

  article,aside,details,figcaption,figure,
  footer,header,hgroup,menu,nav,section {
      display:block;
  }

  nav ul {
      list-style:none;
  }

  blockquote, q {
      quotes:none;
  }

  blockquote:before, blockquote:after,
  q:before, q:after {
      content:'';
      content:none;
  }

  a {
      margin:0;
      padding:0;
      font-size:100%;
      vertical-align:baseline;
      background:transparent;
  }

  /* change colours to suit your needs */
  ins {
      background-color:#ff9;
      color:#000;
      text-decoration:none;
  }

  /* change colours to suit your needs */
  mark {
      background-color:#ff9;
      color:#000;
      font-style:italic;
      font-weight:bold;
  }

  del {
      text-decoration: line-through;
  }

  abbr[title], dfn[title] {
      border-bottom:1px dotted;
      cursor:help;
  }

  table {
      border-collapse:collapse;
      border-spacing:0;
  }

  hr {
      display:block;
      height:1px;
      border:0;  
      border-top:1px solid #cccccc;
      margin:1em 0;
      padding:0;
  }

  input, select {
      vertical-align:middle;
  }

   * {
      text-decoration: none;
  }

body{
	padding: 50px;
  background-image: url('bg-m.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#container{
	background-color:rgba(255, 255, 255, .1);
	width: 100%;
	height: calc(100vh - 40px);
}
#first_part , #second_part{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#first_part img{
	width: 200px;
}

#first_part h1{
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
  color: white;
}
#second_part{
		margin-top: 80px;
	}
	#first_part{
		padding-top: 10px;
	}
	#first_part h1{
		margin-top: 20px;
	}

#second_part button{
  border-bottom: 2px solid black;
  margin: 5.5px;
  width: 200px;
}
#second_part button a {
  color: white;
  font-size: 15px;
}
#second_part button a:hover {
  color: white;
  text-decoration: none;
}
#second_part button:hover{
  color: white;
  border : 2px solid black;
}

@media screen and (min-width: 700px) {
	body {
	background-image: url('bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;

}
	#second_part{
		margin-top: 30px;
	}
	#first_part{
		padding-top: 10px;
	}
	#first_part h1{
		margin-top: 15px;
	}
	#container{
	width: 80%;
	height: calc(100vh - 40px);
	opacity: 0.8;
}
}

@media screen and (min-width: 1000px) {
	body {
	background-image: url('bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	padding:100px 70px;

}

#container{
	width: 80%;
	height: calc(100vh - 200px);
	display: flex;
	/*opacity: 0.4;*/
}
#first_part,#second_part{
	width: 50%;
	margin: 0;
	padding: 100px;
}
#first_part img{
	padding: 0;
}


}
